* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

html{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.create-post-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:20px;
  height: 100%;
  width: 100%;
  background-color: #f0f2f5;
}

